{% extends "core/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mx-10 p-5">

    <div x-data="{ count: 0 }">
        <button x-on:click="count++">Increment</button>

        <span x-text="count"></span>
    </div>

    {% if user.is_authenticated %}<p>Sweet, you're logged in as {{ user.username }}</p>{% endif %}
    <p>Now on Docker!</p>
    <p>This is the home page. There's nothing here right now, but that's okay.</p>
</div>
{% endblock %}