{% extends 'wiki/page/page-base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container mx-10 p-5">
    <div id="form-body">
        <form action="{% url 'wiki_discuss' %}" class="form-group">
            {{ form.media }}    
            {{ form|crispy }}
            <button class="btn btn-primary">Save</button>
        </form>
    </div>
    <ul>
    {% for post in posts %}
        <li>{{ post.content }} - {{ post.author }}</li>
        <ul>
            {% for reply in post.replies %}
        </ul>
    {% endfor %}
    </ul>
</div>

{% endblock %}