{% extends 'wiki/page/page-base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container mx-10 p-5">
    <div id="form-body">
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form.media }}    
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    <ul>
    {% for pid, info in posts.items %}
        <li>{{ info.content|safe }} - {{ info.author }}</li>
        <!--
        <ul>
            {% for reply in info.replies %}
                <li>{{ reply.content }} - {{ reply.author }}</li>
            {% endfor %}
        </ul>
        -->
    {% endfor %}
    </ul>
</div>

{% endblock %}