{% extends 'wiki/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
{{ page.wiki }} - {{ page.name }}
{% endblock %}

{% block content %}

{% include 'wiki/navigation/nav-top.html' with page=page %}
{% include 'wiki/navigation/nav-side.html' %}

<script type="module" src="{% static 'js/wiki-editor-bundle.js' %}"></script>

<div class="container mx-10 p-5">
    {% if error %}
    <div id="error">
        {{ form.errors }}
    </div>
    {% endif %}

    <form method="POST" class="form-group" id="editForm">
        {% csrf_token %}
        {{ form|crispy }}

    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" 
                class="btn btn-primary" 
                name="redirect"><i class="bi bi-floppy-fill"></i> Save</button>
        <button type="submit" 
                class="btn btn-primary" 
                name="no-redirect"><i class="bi bi-floppy-fill"></i> Save & Continue</button>
    </div>

    </form>
    <br />
    <div class="test-editor">

    </div>

</div>

{% endblock %}