{% extends 'wiki/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<script src="{% static 'js/tag-menu.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/tag-menu.css' %}">
<div class="container mx-10 p-5">
    <div id="form-body">
        <form hx-post="{% url 'wiki_save' page.wiki.subdomain page.name %}">
            {{ form.media }}    
            {{ form|crispy }}
            <label for="tag-menu-box">Tags</label><br />
            <div class="container">
                <div id="tag-menu-outer" class="row row-cols-auto">
                    <div class="col">
                        <input type="text" id="tag-menu-box" name="tag-query"
                        hx-get="{% url 'wiki_tags_all' page.wiki.subdomain %}"
                        hx-target="#tag-search-results"
                        hx-swap="innerHTML"
                        hx-trigger="input changed delay:500ms">
                    </div>
                </div>
            </div>
            <div id="tag-search-results"></div>
            <button class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

{% endblock %}