    <ul class="list-group" id="discussion_post_list">
    {% for pid, info in posts.items %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold"><h3>{{ info.title }} | By {{ info.author }}</h3></div>
                    {{ info.content|safe }}
                </div>
        </li>
        <!--
        <ul>
            {% for reply in info.replies %}
                <li>{{ reply.content }} - {{ reply.author }}</li>
            {% endfor %}
        </ul>
        -->
    {% endfor %}
    </ul>