{% load crispy_forms_tags %}


<div id="form-body">
    <div class="invalid-input">
        <div class="alert alert-warning">
            <strong>Warning</strong> <p>The page you're trying to edit has changed since you started editing it. Compare your changes with the current version to ensure that no information is lost.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>{{ page.name }}</h1>
            {{ page.content|safe }}
        </div>
        <div class="col">
            <form hx-post="{% url 'wiki_save' wikiSubdomain=wikiSubdomain pageName=pageName %}" hx-swap="outerHTML" hx-target="#form-body">
                {{ form.media }}
                {{ form|crispy }}
                <button name="conflict-confirm" class="btn btn-primary">Confirm changes</button>
            </form>
        </div>
    </div>
    <style>
        #id_content {
            display: none; /* This is some kind of bug */
        }
    </style>
</div>