{% load crispy_forms_tags %}


<div id="form-body">
    <div class="invalid-input">
        <div class="alert alert-danger">
            <strong>Error:</strong> There was an issue with one or more of your fields.
            {{ form.non_field_errors }}
            {{ form.errors }}
        </div>
    </div>
        <form hx-post="{% url 'wiki_save' page.wiki.subdomain page.name %}" hx-swap="outerHTML" hx-target="#form-body">
            {{ form.media }}
            {{ form|crispy }}
        <button class="btn btn-primary">Save</button>
    </form>
    <style>
        #id_content {
            display: none;
        }
    </style>
</div>