<h1 class="text-5xl py-3">Wikis</h1>
<hr />
<div class="flex flex-row p-3 gap-3">
    @if (wikis()) {
        @for (wiki of wikis(); track wiki.subdomain) {
            <mat-card class="wiki-card" appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        {{ wiki.name }}
                    </mat-card-title>
                    <mat-card-subtitle>
                        /wiki/{{ wiki.subdomain }}
                    </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-img src="/renaissance.jpg" alt="Picture of a benzene ring">
                <mat-card-content>
                    <p>{{ wiki.description }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button matButton>Visit</button>
                </mat-card-actions>
            </mat-card>
        }
    }
    <mat-card class="wiki-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title>
                Create a New Wiki
            </mat-card-title>
            <mat-card-subtitle>
                A new beginning
            </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-img src="/renaissance.jpg" alt="Picture of a benzene ring">
        <mat-card-content>
            <p>Start something beautiful.</p>
        </mat-card-content>
        <mat-card-actions>
            <a routerLink="/dashboard/create-wiki"><button matButton>Create</button></a>
        </mat-card-actions>
    </mat-card>
</div>