{% extends 'wiki/base.html' %}

{% block title %}
{{ page.wiki }} - {{ page.name }}
{% endblock %}

{% block content %}

{% include 'wiki/navigation/nav-top.html' with page=page %}
{% include 'wiki/navigation/nav-side.html' %}
<div class="container mx-10 p-5">

    <h1>{{ page.name }}</h1>

    <p>{{ page.content }}</p>

    <p>Watchers:
    <ul>
        {% for user in page.watchers %}
        <li>{{ user }}</li>
        {% endfor %}
    </ul>
    </p>

    <div class="btn-group">
        <a href="{% url 'wiki_edit' wikiSubdomain=wikiSubdomain pageName=pageName %}" class="btn btn-primary">Edit</a>
        <a href="#" class="btn btn-primary">Tags</a>
        <a href="#" class="btn btn-primary">Watch</a>
        <a hx-post="{% url 'wiki_view_revisions' wikiSubdomain=wikiSubdomain pageName=pageName %}" hx-target="#revision-history" class="btn btn-primary">Revisions</a>
    </div>

    <div id="revision-history">

    </div>
</div>

{% endblock %}