{% extends 'wiki/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mx-10 p-5">
    <input class="form-control form-control-lg" type="text" placeholder="Search..." aria-label=".form-control-lg example"
    name="query"
    hx-get="{% url 'wiki_search_results' page.wiki.subdomain %}"
    hx-target="#search-results"
    hx-swap="innerHTML"
    hx-trigger="input changed delay:500ms, keyup[key=='Enter']">

    <div id="search-results">

    </div>
</div>

{% endblock %}