$sm: 5em;

$nav-width: 5%;

.ren-content {
    display: flex;
    margin-left: $nav-width;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
}
.ren-nav-side {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: auto;
        position: fixed;
        background-color: black;
        width: $nav-width;
    }
    li {
        a {
            display: block;
            padding: 0.5rem;
            text-align: center;
            text-decoration: none;
            color: white;
        }
    }
    .ren-user-section {
        width: 100%;
        bottom: 1rem;
        position: absolute;
    }
}