<!-- mobile -->
<div class="ren-mobile-nav block sm:hidden">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Renaissance</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
            <mat-list-item>
                <a class="flex align-center" 
                routerLink="/">
                    <mat-icon 
                    aria-hidden="false" 
                    aria-label="Home" 
                    fontIcon="home"
                    fxFlexAlign="center"
                    ></mat-icon>
                    <span class="ml-2">Home</span>
                </a>
            </mat-list-item>
            @if (isAuthenticated()) {
            <mat-list-item>
                <a class="flex align-center" 
                routerLink="/dashboard">
                    <mat-icon 
                    aria-hidden="false" 
                    aria-label="Dashboard" 
                    fontIcon="inbox"
                    fxFlexAlign="center"
                    ></mat-icon>
                    <span class="ml-2">Dashboard</span>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a class="flex align-center"
                    routerLink="/dashboard/wikis">
                    <mat-icon 
                    aria-hidden="false" 
                    aria-label="Wikis" 
                    fontIcon="book2"
                    ></mat-icon>
                    <span class="ml-3">Wikis</span>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a class="flex align-center"
                    routerLink="/dashboard/settings">
                        <mat-icon 
                        aria-hidden="false" 
                        aria-label="Settings" 
                        fontIcon="settings"
                        ></mat-icon>
                        <span class="ml-3">Settings</span>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a class="flex align-center"
                    routerLink="/dashboard/profile">
                        <mat-icon 
                        aria-hidden="false" 
                        aria-label="Profile" 
                        fontIcon="person"
                        ></mat-icon>
                        <span class="ml-3">Profile</span>
                </a>
            </mat-list-item>
            } @else {
                <mat-list-item>
                <a class="flex align-center"
                    routerLink="/login">
                        <mat-icon 
                        aria-hidden="false" 
                        aria-label="Login" 
                        fontIcon="login"
                        ></mat-icon>
                        <span class="ml-3">Login</span>
                </a>
            </mat-list-item>
            }
        </mat-list>
    </mat-expansion-panel>
</div>

<!-- desktop -->
<div class="hidden sm:block absolute inset-y-0 left-0 w-20 text-md bg-zinc-900 text-white pt-5 text-center">
    <ul class="list-none">
        <li routerLink="/"
        class="block p-3 hover:bg-yellow-800 cursor-pointer"
        routerLink="/"
        matTooltip="Home"
        matTooltipPosition="right">
                <mat-icon 
                aria-hidden="false" 
                aria-label="Home" 
                fontIcon="home"
                ></mat-icon>
        </li>
        @if (isAuthenticated()) {
         <li routerLink="/dashboard" 
        class="block p-3 hover:bg-yellow-800 cursor-pointer"
        matTooltip="Dashboard"
        matTooltipPosition="right"
        >
            <mat-icon 
            aria-hidden="false" 
            aria-label="Dashboard" 
            fontIcon="inbox"
            ></mat-icon>

        </li>
        <li routerLink="/dashboard/wikis" 
        class="block p-3 hover:bg-yellow-800 cursor-pointer"
        matTooltip="Wikis"
        matTooltipPosition="right"
        >
            <mat-icon 
            aria-hidden="false" 
            aria-label="Wikis" 
            fontIcon="book2"
            ></mat-icon>
        </li>
        <div class="absolute bottom-0 w-full">
            <li routerLink="/dashboard/settings" 
        class="block p-3 hover:bg-yellow-800 cursor-pointer"
        matTooltip="Settings"
        matTooltipPosition="right"
        >
                <mat-icon 
                aria-hidden="false" 
                aria-label="Settings" 
                fontIcon="settings"
                ></mat-icon>
            </li>
           <li routerLink="/profile" 
                    class="block p-3 hover:bg-yellow-800 cursor-pointer"
                    matTooltip="Profile"
                    matTooltipPosition="right"
                    >
                    <mat-icon 
                    aria-hidden="false" 
                    aria-label="Profile" 
                    fontIcon="person"
                    ></mat-icon>
            </li>
            <li routerLink="/logout" 
                    class="block p-3 hover:bg-yellow-800 cursor-pointer"
                    matTooltip="Log out"
                    matTooltipPosition="right"
                    >
                    <mat-icon 
                    aria-hidden="false" 
                    aria-label="Logout" 
                    fontIcon="logout"
                    ></mat-icon>
            </li>
        </div>
        } @else {
            <div class="absolute bottom-0 w-full">
                <li routerLink="/login" 
                        class="block p-3 hover:bg-yellow-800 cursor-pointer"
                        matTooltip="Login"
                        matTooltipPosition="right"
                        >
                        <mat-icon 
                        aria-hidden="false" 
                        aria-label="Login" 
                        fontIcon="login"
                        ></mat-icon>
                </li>
            </div>
        }
    </ul>
</div>

<div class="p-3 sm:ml-30 sm:px-10 pt-10">
    <router-outlet></router-outlet>
</div>
