button.is-active {
    background: black;
    color: white;
}
.tiptap {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border: 1px solid #ccc;
}
.tiptap blockquote {
    border-left: 3px solid #ccc;
    margin: 1.5rem 0;
    padding-left: 1rem;
    font-style: italic;
    color: #555;
}