{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create a Wiki{% endblock %}

{% block content %}
    <h1 class="display-4">Create a Wiki</h1>
    <hr>
<div class="container mx-10 p-5">
    {% if error %}
    <div class="alert alert-danger">
        <strong>Error:</strong> {{ message }}
    </div>
    {% endif %}
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
{% endblock %}